.search-row {
  display: flex;
  padding: 5px;
  margin-top: 5px;
  padding-bottom: 15px;

  input {
    border: 0;
  }

  input + input { margin-left: 2px; }

  input[type="text"], input[type="search"] {
    flex-grow: 1;
  }
}